html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  body {
    background-color: #555;
    font-family: sans-serif;
  }

  main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #loadingMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  #scoreBoard {
    display: none;
    justify-content: center;
    color: white;
  }

  #gameOverMessage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(80, 52, 52);
    border-radius: 3px;
    padding: 30px 60px;
    color: white;
    display: none;
  }

  #gameOverMessage button {
    width: 100%;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(117, 27, 105);
    color: white;
    border-radius: 3px;
    border: none;
    outline: none;
  }